/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*MSI Desktops 1920px*/
/*MSI Desktops 2560px*/


@media (max-width: 480px) {
    .content{
       margin-left: 5%;
    }
}

@media (max-width: 320px) {
    .content{
       margin-left: %;
    }
}

@media (max-width: 600px) {
    .content{
       margin-left: 5%;
    }
}
/*
@media (max-width: 801px) {
    .content{
       margin-left: 5%;
    }
}

@media (max-width: 1025px) {
    .content{
       margin-left: 100px;
    }
}

@media (max-width: 1440px) {
    .content{
       margin-left: 20%;
    }
}
@media (max-width: 1920px) {
    .content{
       margin-left: 20%;
    }
}
*/
@media (max-width: 2560px) {
    .content{
       margin-left: 20%;
    }
}